body {
    background-color: #1a1a1a;
    color: #00ff41;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    /* Screen scroll rokne ke liye */
    height: 100vh;
    overflow: hidden; 
    touch-action: none; /* Mobile par swipe scroll rokne ke liye */
}

.game-container {
    position: relative;
    border: 3px solid #333;
    margin-top: 5px;
}

canvas {
    background-color: #000;
    max-width: 90vw; /* Mobile ke hisaab se width adjust */
    max-height: 70vh;
}